@charset "UTF-8";
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0px;
}

h1 {
  font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #110000;
  font-weight: 100;
}

h4 {
  font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #fefeff;
  font-weight: 100;
  font-size: large;
}

p,
div,
button,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: #110000;
}

h3,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  color: #110000;
  font-weight: 600;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #110000;
  font-size: x-large;
  font-weight: 900;
}

button {
  font-size: large;
}

#handshake {
  font-size: x-small;
  align-self: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.header__arrow {
  width: fit-content;
  visibility: visible;
}
.header__arrow i {
  font-size: x-large;
  color: #110000;
}
.header__title {
  display: flex;
  justify-content: left;
  align-self: center;
  margin: auto;
}

#presentation {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

#instructions {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding-top: 20px;
  padding-bottom: 60px;
}

#restaurants {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding-top: 10%;
  padding-left: 5%;
  padding-bottom: 16%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-left: 5%;
  padding-bottom: 10%;
  background-color: #353535;
}
footer h4 {
  margin-bottom: 4%;
  font-size: x-large;
}

.venue {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 290px;
}
.venue__photo {
  display: flex;
  height: 150%;
}
.venue__title {
  height: 30%;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.venue__title_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.6rem;
}
.venue__title_name a {
  width: fit-content;
}
.venue__title_name i {
  color: #9356DC;
  margin-right: 1.8rem;
}
.venue__title_name::before {
  content: "La palette du goût";
  font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  font-weight: 100;
}

.starter {
  border: 1px solid red;
}

.presentation__position {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  height: 45px;
  max-height: 45px;
  background: linear-gradient(to bottom, #CFCFCF 0%, #eaeaea 15%, #eaeaea 100%);
}
.presentation__position i {
  position: relative;
  margin-left: 25%;
  font-size: medium;
}
.presentation__position_input {
  margin: auto;
  margin-left: 20px;
  background-color: #eaeaea;
  color: #110000;
  font-size: medium;
  font-weight: 500;
  border: none;
}
.presentation__position_input::placeholder {
  opacity: 1;
}

#presentation__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#presentation__description h2 {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 5%;
}
#presentation__description p {
  width: 100%;
  margin: auto;
  text-justify: distribute;
  opacity: 0.5;
  font-size: larger;
}

#presentation__btn {
  padding: 15px;
  padding-inline: 23px;
  border-radius: 30px;
  color: #fefeff;
  border: none;
  background: #9356DC;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: #acabab 0px 3px 6px;
}

.instruction__btn {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 10%;
}
.instruction__btn_number {
  margin-right: -3%;
  padding: 0.8%;
  padding-inline: 2%;
  background-color: #9356DC;
  border-radius: 100%;
  color: #fefeff;
  font-weight: 500;
  opacity: 1;
  z-index: 100;
}
.instruction__btn_btn {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 92%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f6f6f6;
  border: none;
  box-shadow: #dfdede 0px 6px 12px 2px;
}
.instruction__btn_btn:hover {
  background-color: #f2eafb;
}
.instruction__btn_btn:hover i {
  color: #9356DC;
  opacity: 1;
}
.instruction__btn i {
  color: #110000;
  margin-left: 10%;
  margin-right: 10%;
  font-size: larger;
  opacity: 0.4;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  height: 250px;
  margin-left: 0px;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 20px;
  box-shadow: #dfdede 0px 6px 12px 2px;
}
.card__photo {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 75%;
  min-height: 75%;
  max-height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card__insert {
  display: inline-flex;
  align-self: flex-end;
  position: relative;
  margin-right: 3%;
  top: -175px;
  padding: 2%;
  padding-inline: 4%;
  color: #008766;
  background-color: #87ffe2;
  font-weight: 700;
  border-radius: 4%;
}
.card__insert_invisible {
  display: inline-flex;
  align-self: flex-end;
  position: relative;
  margin-right: 3%;
  top: -175px;
  padding: 2%;
  padding-inline: 4%;
  color: #008766;
  background-color: #87ffe2;
  font-weight: 700;
  border-radius: 4%;
  visibility: hidden;
}
.card__caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 98%;
  height: 100%;
  margin-top: -2.2rem;
  margin-left: 1%;
}
.card__caption_name {
  margin: 0px;
  margin-top: 0.5rem;
  margin-left: 2%;
  font-size: 110%;
}
.card__caption_place {
  margin: 0px;
  margin-left: 2%;
  margin-top: 0px;
  font-weight: 100;
  font-size: large;
  opacity: 0.8;
}
.card__caption a {
  display: flex;
  align-self: flex-end;
  margin-top: -35px;
  margin-right: 5%;
  width: fit-content;
  font-size: 150%;
  font-weight: 100;
  text-decoration: none;
  color: #fefeff;
  transition: color 1s;
}
.card__caption a:hover {
  transform: color 1s;
  color: #9356DC;
}
.card__caption i {
  color: black;
  font-weight: 100;
  transition: color 10ms;
}
.card__caption i:hover {
  color: #9356DC;
  font-weight: 600;
  cursor: pointer;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 80%;
  margin: 0%;
  list-style-type: none;
  list-style-position: outside;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: flex-start;
  width: 100%;
  margin-left: -2.4rem;
}
.footer__link a {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
  color: #fefeff;
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.2rem;
  transition: transform 400ms, color 500ms;
}
.footer__link a:hover {
  transform: scale(1.05);
  color: #9356DC;
}
.footer__link i {
  margin-right: 5%;
  margin-top: 1%;
  font-size: medium;
  transition: 300ms;
  transition-delay: 450ms;
}

.venue__photo {
  background: no-repeat center/115% url(/images/palette.jpg);
}

.header__arrow#accueil {
  visibility: hidden;
}

h3.starter__choice_title {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
