.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    height: 250px;
    margin-left: 0px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 20px;
    @include btn-shadow($color: lighten($color:$shadow_grey, $amount:20%), $shadow-size: 0px 6px 12px 2px);


    &__photo {
        @include photo-card-size;
        @include border-top-radius;
        object-fit: cover;
    }

    &__insert {
        display: inline-flex;
        align-self: flex-end;
        position: relative;
        margin-right: 3%;
        top: -175px;
        padding: 2%;
        padding-inline: 4%;
        color: $invert_secondary_color;
        background-color: $tertary_color;
        font-weight: 700;
        border-radius: 4%;

        &_invisible {
            @include insert-invisibility;
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 98%;
        height: 100%;
        margin-top: -2.2rem;
        margin-left: 1%;

        &_name {
            margin: 0px;
            margin-top: 0.5rem;
            margin-left: 2%;
            font-size: 110%;
        }

        &_place {
            margin: 0px;
            margin-left: 2%;
            margin-top: 0px;
            font-weight: 100;
            font-size: large;
            opacity: 0.8;
        }
    }
}
.fa-solid.fa-heart {
    display: inline-flex;
    align-self: flex-end;
    position: relative;
    left: 80%;
    top: -70px;
    font-size: x-large;
    font-weight: 100;
    opacity: 0.8;
    color: $black_background;
    
    &:hover {
        opacity: 1;
        fill: $primary_color;
        color: $primary_color;
        font-weight: 600;
    }
}
