.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    height: 250px;
    margin: 0;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 20px;
    background-color: $white_color;
    @include shadows($color: lighten($color:$shadow_grey, $amount:20%), $shadow-size: 0px 6px 12px 2px);
    @include border-top-radius;
    filter: brightness(1);

    &:hover {
        filter: brightness(1.08);
        @include shadows($color: lighten($color:$shadow_grey, $amount:10%), $shadow-size: 0px 6px 12px 2px);
    }

    @include tablet {
        width: 380px;
    }

    @include desktop {
        min-width: 310px;
    }

    @include ultraHD {
        width: 600px;
    }

    &__photo {
        @include photo-card-size;
        @include border-top-radius;
        object-fit: fill;
    }

    &__insert {
        display: inline-flex;
        align-self: flex-end;
        position: relative;
        margin-right: 3%;
        top: -160px;
        padding: 2%;
        padding-inline: 4%;
        color: darken($color: $invert_secondary_color, $amount: 7%);
        background-color: $tertary_color;
        font-weight: 700;
        border-radius: 4%;

        &_invisible {
            @include insert-invisibility;
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 98%;
        height: 100%;
        margin-top: -2rem;
        margin-left: 1%;
        padding-top: 0.4rem;

        &_name {
            margin: 0px;
            margin-top: 0.7vh;
            margin-left: 2%;
            font-size: 110%;
        }

        &_place {
            margin: 0px;
            margin-left: 2%;
            margin-top: 5px;
            font-weight: 100;
            font-size: large;
            opacity: 0.8;
        }
    }

    &__btn {
        display: inline-flex;
        justify-content: right;
        width: fit-content;
        position: relative;
        top: -60px;
        left: 75%;
        color: transparent;
        background-color: $white_color;
        border: none;
        transform: scale(1);
        transition: transform 400ms;

        @include ultraHD {
            left: 90%;
        }

        &_heart {
            display: flex;
            height: 22px;
            stroke: $black_color;
            fill: url(images/heart.svg#gradient_heart);
            fill-opacity: 0;

            @include tablet {
                height: 28px;
                width: 28px;
            }

            @include desktop {
                height: 32px;
                width: 32px;
            }

            &:hover,
            &:active {
                animation: heart-filling both 1800ms;
                cursor: pointer;
            }
        }
    }
}

@include tablet {
    .border {
        display: inline-block;
        transform: translateZ(0);

        &:hover {
            animation: border-float 1500ms 800ms ease-out 5 forwards alternate;

            // for demo purpose we block this effect,
            // then client can see effects isolated then stacked,
            // so the client can have a better vue to choose his own set of effects...  

            // &::before {
            //     content: "";
            //     background: linear-gradient(45deg,
            //             $primary_color,
            //             $secondary_color,
            //             $tertary_color,
            //             $primary_color,
            //             $secondary_color,
            //             $tertary_color,
            //             $primary_color,
            //             $tertary_color,
            //             $primary_color);
            //     position: absolute;
            //     top: -4px;
            //     left: -3px;
            //     background-size: 150%;
            //     z-index: -1;
            //     filter: blur(3px);
            //     width: calc(100% + 6px);
            //     height: calc(90% + 4px);
            //     animation: glowing 20s linear infinite;
            //     transition: opactiy 0.3s ease-in-out;
            //     border-radius: 20px;
            //    }
        }

    }
}

@include desktop {
    .border {
        display: inline-block;
        transform: translateZ(0);

        &:hover {
            animation: border-float 1500ms 800ms ease-out infinite forwards alternate;

            &::before {
                content: "";
                background: linear-gradient(45deg,
                        $primary_color,
                        $secondary_color,
                        $tertary_color,
                        $primary_color,
                        $secondary_color,
                        $tertary_color,
                        $primary_color,
                        $secondary_color,
                        $tertary_color);
                position: absolute;
                top: -4px;
                left: -3px;
                background-size: 150%;
                z-index: -1;
                filter: blur(3px);
                width: calc(100% + 6px);
                height: calc(90% + 4px);
                animation: glowing 20s linear infinite;
                transition: opactiy 0.3s ease-in-out;
                border-radius: 20px;
            }
        }
    }
}

@keyframes heart-filling {

    0% {
        fill-opacity: 0;
        stroke-opacity: 1;
    }

    50% {
        stroke-opacity: 0;
    }

    100% {
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}

@keyframes glowing {

    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes border-float {

    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(-2px);
    }
}






