#presentation__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    & h2 {
        width: 70%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    & p {
        width: 100%;
        margin: auto;
        text-justify: distribute;
        opacity: 0.5;
        font-size: larger;
    }
}