.footer {

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 80%;
        margin: 0%;
        list-style-type: none;
        list-style-position: outside;
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-self: flex-start;
        width: 100%;
        margin-left: -2.4rem;

        & a {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-decoration: none;
            color: $white_color;
            font-size: large;
            font-weight: 500;
            margin-bottom: 0.2rem;
            transition: transform 400ms, color 500ms;

            &:hover {
                transform: scale(1.05);
                color: $primary_color;

            }
        }

        & i {
            margin-right: 5%;
            margin-top: 1%;
            font-size: medium;
            transition: 300ms;
            transition-delay: 450ms;
        }
    }
}