.footer {
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 80%;
        margin: 0;
        list-style-type: none;
        list-style-position: outside;

        @include tablet {
            justify-content: center;
            width: 30%;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-self: flex-start;
        width: 100%;
        margin-left: -2.4rem;

        @include tablet {
            margin-left: 25%;
            justify-content: center;
            margin-bottom: 4%;
        }

        & a {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-decoration: none;
            color: $white_color;
            font-size: large;
            font-weight: 500;
            margin-bottom: 0.2rem;

            @include tablet {
                flex-wrap: nowrap;
                width: 100%;
            }

            &:visited {
                color: $tertary_color;
                font-style: italic;
            }

            &:hover {
                animation: hover_footer cubic-bezier(0.77, 0, 0.175, 1) 1000ms forwards;

                & i {
                    transform: rotate(1turn);
                }
            }

            &:active {
                color: $secondary_color;
            }
        }

        & i {
            margin-right: 5%;
            margin-top: 1%;
            font-size: medium;
            transform: rotate(0turn);
            transition: transform 400ms;
            transition-delay: 600ms;
        }
    }
}

@keyframes hover_footer {
    0% {
        color: $secondary_color;
        opacity: 0.5;
    }

    25% {
        opacity: 0.8;
    }

    50% {
        color: $primary_color;
        opacity: 1;
    }

    100% {
        color: $primary_color;
        opacity: 1;
    }
}