.presentation__position {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
    height: 50px;
    background: linear-gradient(to bottom, #CFCFCF 0%, $darkgrey_color 15%, $darkgrey_color 100%);

    & i {
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: 0;
        // padding-right: 28px;
        font-size: medium;

        @include tablet {
            font-size: large;
        }

        @include desktop {
            font-size: larger;
        }
    }

    &_input {
        display: flex;
        justify-content: center;
        width: min-content;
        background-color: $darkgrey_color;
        color: $black_color;
        font-size: 1rem;
        padding-left: 45px;
        border: none;
        
        @include tablet {
            font-size: large;
            padding-left: 60px;
        }

        @include desktop {
            font-size: larger;
            padding-left: 80px;
        }

        &::placeholder {
            opacity: 1;
        }
    }
}






