.presentation__position {
    display: flex;
    width: 100%;
    @include center;
    margin: auto;
    height: 50px;
    background: linear-gradient(to bottom, #CFCFCF 0%, $darkgrey_color 15%, $darkgrey_color 100%);

    & i {
        position: relative;
        margin-left: 5%;
        margin-right: 5%;
        font-size: medium;

        @include tablet {
            font-size: large;
            margin-left: 4%;
            margin-right: 4%;
        }

        @include desktop {
            font-size: larger;
            margin-left: 3%;
            margin-right: 3%;
        }

        @include ultraHD {
            margin-left: 1%;
            margin-right: 1%;
        }
    }

    &_input {
        display: flex;
        justify-content: center;
        width: min-content;
        background-color: $darkgrey_color;
        color: $black_color;
        font-size: 1rem;
        border: none;

        @include tablet {
            font-size: large;
        }

        @include desktop {
            font-size: larger;
        }

        &::placeholder {
            opacity: 1;
        }
    }
}






