.instruction__btn {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    height: 75px;
    margin: auto;
    margin-left: 4%;
    margin-bottom: 8%;
    background-color: $lightgrey_color;
    border: none;
    border-radius: 20px;
    @include btn-shadow ($color: $darkgrey_color);


    &_number {
        padding: 2%;
        padding-inline: 3.5%;
        margin-left: -6%;
        border-radius: 100%;
        color: $white_color;
        background-color: $primary_color;
        opacity: 1;
    }

    & i {
        margin-inline: 5%;
        padding-right: 2%;
        opacity: 0.5;
        font-size: x-large;
    }

    &_name {
        width: 100%;
        font-size: larger;
        font-weight: 600;
        color: $black-color;
        opacity: 1;
        padding-left: 0%;
        margin-left: -23%;
    }

    &:hover {
        background-color: lighten($color: $primary_color, $amount: 35);
        color: $primary_color;
        opacity: 1;
        ;
    }
}