.loader {
    &__container {
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 102;
        animation: 1600ms ease-out forwards running appear, disappear 1600ms 2s ease-in forwards running;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-content: center;
        top: 100%;
        opacity: 1;
        fill-opacity: 1;
        stroke-width: 1px;
        stroke: $tertary_color;
        z-index: 101;

        // boxing effect
        border: 10px solid hsl(317, 100%, 74%);
        box-shadow:
            0 0 0 10px hsl(317, 100%, 80%) inset,
            0 0 0 15px hsl(317, 100%, 85%) inset,
            0 0 0 20px hsl(317, 100%, 90%) inset,
            0 0 0 25px hsl(317, 100%, 95%) inset;


        &_o {
            transform: translateY(400%);
            animation: rebound 2500ms forwards;
        }

        &_my {
            transform-origin: center;
            transform: rotate(2turn);
            transition: transform 2500ms;
        }
    }
}

.loader__logo_o {
    background-color: $secondary_color;
}

@keyframes appear {
    0% {
        backdrop-filter: blur(0px);
        transform: rotate3d(1, 1, 1, 0);
        opacity: 0;
    }

    10% {
        opacity: 1;
        backdrop-filter: blur(2px);
    }

    100% {
        transform: rotate3d(1, 1, 1, 1turn);
        opacity: 0.5;
        backdrop-filter: blur(18px);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(100%);
        transform: translateY(0);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.42, 0, 1, 0);
    }

    75% {
        opacity: 1;
        transform: translateY(10%);
        transform: scale(75%);
    }

    99% {
        opacity: 0;
        backdrop-filter: blur(0);
        transform: scale(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes rebound {
    0% {
        transform: translateY(-200%);
        animation-timing-function: cubic-bezier(.42, 0, 1, 0);
    }

    25% {
        transform: translateY(10%);
    }

    50% {
        transform: translateY(-80%);
        animation-timing-function: cubic-bezier(.42, 0, 0.66, 0.13);
    }

    75% {
        transform: translateY(10%);
    }

    85% {
        transform: translateY(-50%);
        animation-timing-function: cubic-bezier(0.49, 0.25, 0.66, 0.13);
    }

    95% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

// alternative loading spinner

.loader2 {
    &__container {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 102;
        animation: 3s 400ms both disappear;
        backdrop-filter: blur(18px);
    }

    &__circle1 {
        display: flex;
        width: 29%;
        fill: transparent;
        stroke: $primary_color;
        stroke-width: 10;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        stroke-dasharray: 283;
        stroke-dashoffset: 280;
        animation: 1.4s ease-in-out infinite both circle-animation;

        & svg {
            transform-origin: center;
            animation: 2s linear 2 svg-animation infinite;
        }
    }

    &__circle2 {
        display: flex;
        width: 29%;
        fill: transparent;
        stroke: $secondary_color;
        stroke-width: 10;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        stroke-dasharray: 283;
        stroke-dashoffset: 280;
        animation: 1.4s 200ms ease-in-out 2 forwards circle-animation;

        & svg {
            transform-origin: center;
            animation: 2s linear 2 svg-animation both;
        }
    }

    &__circle3 {
        display: flex;
        width: 29%;
        fill: transparent;
        stroke: $primary_color;
        stroke-width: 10;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        stroke-dasharray: 283;
        stroke-dashoffset: 280;
        animation: 1.4s 400ms ease-in-out 2 forwards circle-animation;

        & svg {
            transform-origin: center;
            animation: 2s linear 2 svg-animation both;
        }
    }
}

//  primary animation

@keyframes circle-animation {

    0% {
        stroke-dasharray: 280;
    }

    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }

    // Very long dash, slightly rotated for 25% of animation.
    // This is the "head" of the stroke getting away from the tail.
    50% {
        stroke-dashoffset: 75;
        transform: rotate(90deg);
    }

    75% {
        stroke-dashoffset: 75;
        transform: rotate(90deg);
    }

    // Back to short dash, rotated back to starting position with a loop.
    // This is the "tail" of the stroke catching up to the head.
    // The stroke moves backwards while at the same time the 
    // entire circle is rotated forward to return to its 
    // starting position.
    100% {
        stroke-dashoffset: 280;
        transform: rotate(720deg);
    }
}

// secondary animation
@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
        transform: scaleX(100%);
    }

    100% {
        transform: rotateZ(720deg);
    }
}

@keyframes container disappear {

    0% {
        transform: scale(100%);
    }

    80% {
        transform: scale(100%);
    }

    100% {
        backdrop-filter: blur(10px);
    }
}




