.starter__choice,
.main__choice,
.dessert__choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    height: 70px;
    padding-left: 0;
    margin-bottom: 20px;
    background-color: $white_color;
    @include border-bottom-radius;
    @include border-top-radius;
    @include btn-shadow (lighten($color:$shadow_grey, $amount:25%), $shadow-size: $shadow-size_btn_greyBG);
    animation-name: btn-apparition;
    animation-fill-mode: both;
    
    @for $i from 1 to 4 {
        &--#{$i} {
            animation-delay: 200ms*$i;
            animation-duration: 333ms;
        }
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: nowrap;
        width: 75%;
    }

    &_name {
        margin-left: 0.5rem;
        margin-bottom: 0;
        color: $black_color;
        background-color: $white_color;
        @include typo-roboto;
        font-weight: 600;
    }

    &_quote {
        margin-top: 0;
        margin-left: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 0.6;
    }

    &_right {
        display: flex;
        justify-content: flex-end;
        width: 25%;
    }

    &_price {
        margin-bottom: 0;
        margin-right: 1rem;
        font-size: 0.95rem;
        font-weight: 600;
    }
}

@keyframes btn-apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}