.starter__choice,
.main__choice,
.dessert__choice {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 93%;
    height: 70px;
    padding-left: 0;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    background-color: $white_color;
    @include border-bottom-radius;
    @include border-top-radius;
    @include btn-shadow (lighten($color:$shadow_grey, $amount:25%), $shadow-size: $shadow-size_btn_greyBG);
    animation-name: btn-apparition;
    animation-fill-mode: both;

    @for $i from 1 to 4 {
        &--#{$i} {
            animation-delay: 200ms*$i;
            animation-duration: 333ms;
        }
    }

    &:hover {

        & .starter__choice_animation,
        & .main__choice_animation,
        & .dessert__choice_animation {
            transform: translateX(0);
            opacity: 1;
        }

        & .starter__choice_price,
        & .main__choice_price,
        & .dessert__choice_price {
            transform: translateX(0);
        }

        & .starter__choice_animation i,
        & .main__choice_animation i,
        & .dessert__choice_animation i {
            transform: rotate(-360deg);
        }
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: nowrap;
        width: 75%;
        min-width: 75%;
        border: 2px solid green;
    }

    &_name {
        margin-left: 0.5rem;
        margin-bottom: 0;
        color: $black_color;
        background-color: $white_color;
        @include typo-roboto;
        font-weight: 600;
    }

    &_quote {
        border: 1px solid red;
        display: inline;
        position: relative;
        width: 100%;
        margin-top: 0;
        margin-left: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip ellipsis;
        opacity: 0.6;
    }

    &_right {
        border: 2px solid blue;
        display: flex;
        justify-content: right;
        position: relative;
        // overflow: clip;
        overflow: visible;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 25%;
    }

    &_price {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: nowrap;
        width: 60px;
        min-width: 60px;
        margin: 0;
        font-size: 0.95rem;
        font-weight: 600;
        transform: translateX(100%);
        transition: transform 500ms;
        border: rebeccapurple 2px solid;
    }

    &_animation {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 65px;
        height: 70px;
        max-height: 70px;
        background-color: $tertary_color;
        color: $white_color;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: translateX(100%);
        transition: transform 500ms ease-out , opacity 100ms ease-out;
        border: 2px solid violet;
        opacity: 0;
        
        & i {
            font-size: x-large;
            font-weight: 900;
            transform: rotate(0deg);
            transition: transform 500ms;
        }
    }
}

@keyframes btn-apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}