.starter__choice {
    background-color: $white_color;

    &_name {
        color: $black_background;
        background-color: $white_color;
        font-size: 1.2rem;
        font-weight: 600;
        @include typo-roboto;
        @include border-top-radius;
        @include menu-btn-content-position;

        &::before {
            content: remplissage($starter_name, choice1);
        }
    }

    &_quote {
        height: 20px;
        @include menu-btn-content-position;
        background-color: $white_color;
        font-weight: 100;
        opacity: 0.8;
        color: $black_color;
        @include border-bottom-radius;

        &::before {

            @each $quote in $starter_quote {
                content: map-get($map: $starter_quote, $key:choice3 );
            }
        }

    }

    &_price {
        height: 25px;
        width: 45px;
        font-size: 1rem;

        &::before {
            @each $price in $starter_prices {
                content: $price;
            }
        }
    }
}