h1,
h4 {
    font-family: 'Shrikhand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $black-color;
    font-weight: 100;
}

p,
div,
button {
    @include typo-roboto;
    }
h3 {
    @include typo-roboto;
    font-weight: 600;
}
h2 {
    @include typo-roboto;
    font-size: x-large;
    font-weight: 900;
}

button {
    font-size: large;
}