@mixin btn-shadow ($color: $shadow_grey, $shadow-size: $shadow_size_btn) {
    box-shadow: $color $shadow-size;
}

@mixin typo-roboto {
    font-family: 'Roboto Condensed', sans-serif;
    color: $black-color;
}

@mixin typo-shrikhand {
    font-family: 'Shrikhand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@mixin photo-card-size {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 75%;
    min-height: 75%;
    max-height: 75%;
}

@mixin border-top-radius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@mixin border-bottom-radius {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@mixin insert-invisibility {
    display: inline-flex;
    align-self: flex-end;
    position: relative;
    margin-right: 3%;
    top: -175px;
    padding: 2%;
    padding-inline: 4%;
    color: $green_color;
    background-color: lighten($color: $green_color, $amount: 50%);
    font-weight: 700;
    border-radius: 4%;
    visibility: hidden;
}