$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertary_color: #99E2D0;
$black_color: #1d0101;
$white_color: #fefeff;
$darkgrey_color: #eaeaea;
$lightgrey_color: #f6f6f6;
$shadow_grey: #acabab;
$shadow_size_btn: 0px 3px 6px;
$green_color: #008766;