$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertary_color: #99E2D0;
$black_color: #110000;
$white_color: #fefeff;
$darkgrey_color: #eaeaea;
$lightgrey_color: #f6f6f6;
$shadow_grey: #acabab;
$shadow_size_btn: 0px 3px 6px;
$green_color: #008766;
$black_background: #353535;
$starter_name: ('1': "Fricassée d'escargot",
    '2': "Foie gras de canard mi-cuit",
    '3': "Oeuf au plat");
$starter_quote: ('1': "Au piment d'Espelette",
    '2':"Et ses copeaux de truffe noire",
    '3': "Assaisonné à la truffe sur lit de caviar"
);
