.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    &__arrow {
        width: fit-content;
        visibility: visible;
        margin-left: 1.5em;

        i {
            font-size: x-large;
            color: $black_color;
        }

        &:hover {
            @include hover-style;
        }
    }

    &__title {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        margin-right: 1.8rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.01rem;
    }
}