.starter,
.main,
.dessert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1.3rem;
    background-color: $lightgrey_color;

    &__choice_title {
        padding-bottom: 0.5rem;
        font-weight: 100;
        font-size: large;
        opacity: 0.7;
        @include decoration-menu;
    }
}



