.venue {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 310px;

    @include tablet {
        margin-top: 30px;
        height: 380px;
    }

    &__photo {
        display: flex;
        height: 150%;
    }

    &__title {
        display: flex;
        flex-direction: row;
        height: 30%;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        margin-top: -40px;
        background-color: $lightgrey_color;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;

        &_name {
            margin-inline: 0;
            margin-left: -45px;
            @include typo-shrikhand;
            font-size: 1.7rem;
            font-weight: 400;

            @include tablet {
                font-size: 2.5rem;
            }
        }

        &_button {
            display: inline-flex;
            position: relative;
            left: 30px;
            width: fit-content;
            background-color: $lightgrey_color;
            border: none;
            cursor: pointer;

            @include tablet {
                left: 7%;
            }
        }
    }
}

.heart {
    display: flex;
    fill: url(#gradient_heart);
    fill-opacity: 0;
    stroke: $black_color;
    transition: fill-opacity 400ms, stroke-opacity 250ms;
    height: 32px;

    &:hover,
    &:active {
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}





