#presentation {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    @include center;
    padding-bottom: 60px;
    background-color: $lightgrey_color;

    @include tablet {
        padding-bottom: 5%;
    }
}



